<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="microsoft.visualstudio.testtools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.QualityTools.UnitTestFramework"/>

  </configSections>
  <connectionStrings>
    <add name="DateTimeFormConn" connectionString="DRIVER={Microsoft Excel Driver (*.xls)};dbq=E:\Software\Microsoft Visual Studio\source\C#\DotNet6335\WindowsUITest1234\Data_DateTimeForm.xls;driverid=790;fil=excel 8.0"
      providerName="System.Data.Odbc" />
  </connectionStrings>
  <microsoft.visualstudio.testtools>
    <dataSources>
      <add name="DateTimeWeekDataSource" connectionString="DateTimeFormConn" dataTableName="Week$" dataAccessMethod="Sequential"/>
      <add name="DateTimeSpanDataSource" connectionString="DateTimeFormConn" dataTableName="span$" dataAccessMethod="Sequential"/>
    </dataSources>
  </microsoft.visualstudio.testtools>
</configuration>